@tailwind base;
@tailwind components;
@tailwind utilities;

.menu .menu-title > * {
    @apply text-zinc-800;
  }


.footer .footer-title {
    @apply text-white;
    opacity: 1;
  }

  .collapse:focus-within:not(.collapse-close) .collapse-content {
    max-height: 9000px;
}

.collapse-arrow:focus-within:not(.collapse-close) .collapse-title:after {
  transform: rotate(225deg);
}

.collapse:focus:not(.collapse-close) .collapse-title .collapse-title-text, .collapse:focus-within:not(.collapse-close) .collapse-title .collapse-title-text {
  font-weight: 700;
}