---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% include 'partials/css.njk' %}
      {% include 'partials/metadata.njk' %}
  </head>
  <body>
    <div class="drawer drawer-mobile">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle"/>
      <div class="drawer-content">
        <!-- Page content here -->
        {# <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">Open drawer</label> #}
          <div class="p-6 pb-16"> <div class="flex flex-col-reverse justify-between gap-6 xl:flex-row">
            <div class="prose w-full max-w-4xl flex-grow">
              {% if relatedPR or pageVersion %}
                <div class="alert alert-warning">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
                    {% if relatedPR %}
                      <span>Warning: Some code used on this page relates to an open pull request - <a href="{{ relatedPR }}">#{% getPrNumber relatedPR %}</a>.</span>
                    {% elif pageVersion !== repoVersion %}
                      <span>Warning: Some code used on this page refers to version <a href="https://github.com/thegreenwebfoundation/co2.js/tree/v{{pageVersion}}">{{ pageVersion }}</a> of this library.</span>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {{ content | safe }}
            </div>
          </div>
        </div>
      </div>
      <div class="drawer-side">
        <label for="my-drawer-2" class="drawer-overlay"></label>
        <ul class="menu p-4 overflow-y-auto w-80 bg-base-200 text-base-content">
          <li class="items-start">
            <a href="/" class="gap-x-0 link link-hover">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                style="height: 3ex;"
                class="icon icon-tabler icon-tabler-chevron-left"
                width="44"
                height="44"
                viewbox="0 0 24 24"
                stroke-width="1.5"
                stroke="#2c3e50"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <polyline points="15 6 9 12 15 18"/>
              </svg>Back to all libraries</a>
          </li>
          <li>
            <a href="/" aria-label="Homepage">
              <img
                src="/public/logo_dark_text.svg"
                alt="The Green Web Foundation typographic logo"
                class="max-h-full"
                height="210px"
                width="372px"/>
            </a>
          </li>
          {% set navPages = collections.all | getDocumentsFromCollection(repo) | eleventyNavigation %}
          {%- for entry in navPages %}
            {% if sectionTitle != entry.sectionTitle %}
              {% set sectionTitle = entry.sectionTitle %}
              <li class="menu-title">
                <p class="divider text-sm font-bold font-mono">{{ sectionTitle }}</p>
              </li>
            {% endif %}
            <li {% if entry.url == page.url %} class="my-active-class" {% endif %}>
              <a href="{{ entry.url | url }}">{{ entry.title }}</a>
              {%- if entry.children.length -%}
                {%- for child in entry.children %}
                  <li {% if child.url == page.url %} class="my-active-class" {% endif %}>
                    <a href="{{ child.url | url }}">{{ child.title }}</a>
                  {% endfor -%}
                </li>
              {%- endif -%}
            </li>
          {%- endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>