## Endpoint

A `POST` request should be sent to `https://carbon-txt-api.greenweb.org/api/validate/{{endpoint}}`.

## Authentication

The request header should include `x-api-key: my-api-key`, where `my-api-key` is your Green Web Foundation API key. [Learn more about API authentication](/api/carbon-txt/authentication).
