<footer class="footer p-10 bg-secondary text-white">
  <div>
    <span class="footer-title">Links</span> 
    <a class="link link-hover" href="https://www.thegreenwebfoundation.org/support/">Frequently asked questions</a> 
    <a class="link link-hover" href="https://www.thegreenwebfoundation.org/contact/">Send us a message</a>
    <a class="link link-hover" href="https://www.thegreenwebfoundation.org/privacy-statement/">Privacy policy</a>
  </div> 
  
  <div>
    <span class="footer-title">Locations</span> 
    <div class="flex flex-wrap gap-y-4 gap-x-5">
        <p>The Green Web Foundation<br/>
        Nijverheidstraat 4<br/>
        6707 JG Wageningen<br/>
        The Netherlands</p>
        <p>Naunynstrasse 40<br/>
        10999 Berlin<br/>
        Germany</p>
    </div>
  </div> 

  <div class="w-full md:place-self-center md:justify-self-end md:w-3/4">
    <span class="footer-title">Newsletter</span> 
    <p>Timely and actionable news about greening the web and a sustainable digital transition.</p>
    <a href="https://www.thegreenwebfoundation.org/newsletter" class="btn btn-accent text-accent-content">Sign up</a>
  </div> 
</footer>