<aside class="alert alert-info text-base-content">
    <p>
        <strong>Note:</strong>
        The Electricity Maps API free plan currently limits access to data for one (1) zone. This means that Grid-aware Websites
        can only currently be applied to users in a single region when using the Electricity Maps API free plan. We are in
        contact with the Electricity Maps team about the possibility of expanding access to data for multiple regions. You can
        track the progress of this issue on
        <a href="https://github.com/thegreenwebfoundation/grid-aware-websites/issues/21">GitHub</a>.
    </p>
</aside>