{% if libraryName %}
  {% set pageTitle = libraryName + ": " + title %}
{% elseif name %}
  {% set pageTitle = name + ": " + title %}
{% else %}
  {% set pageTitle = "Developer Docs @ The Green Web Foundation" %}
{% endif %}
{% if not description %}
  {% set description = "This site is a collection of documentation for the open source libraries maintained by The Green Web Foundation." %}
{% endif %}
{% if page.url %}
  {% set canonicalURL = "https://developers.thegreenwebfoundation.org" + page.url %}
{% else %}
  {% set canonicalURL = "https://developers.thegreenwebfoundation.org/"%}
{% endif %}
{% metagen
  title=pageTitle,
  desc=description,
  url=canonicalURL,
  img="https://www.thegreenwebfoundation.org/wp-content/uploads/Wind-turbines-on-hills.jpg",
  img_alt="	We need a fossil free internet by 2030. The internet is the world's biggest coal powered machine, and this is bug in the system we can fix.",
  twitter_card_type="summary_large_image",
  twitter_handle="greenwebfound",
  name="The Green Web Foundation",
  generator="eleventy"
%}
<link
  rel="icon"
  href="https://www.thegreenwebfoundation.org/wp-content/uploads/cropped-GWF-site-icon-32x32.png"
  sizes="32x32"/>
<link
  rel="icon"
  href="https://www.thegreenwebfoundation.org/wp-content/uploads/cropped-GWF-site-icon-192x192.png"
  sizes="192x192"/>
<link
  rel="apple-touch-icon"
  href="https://www.thegreenwebfoundation.org/wp-content/uploads/cropped-GWF-site-icon-180x180.png"/>
<meta
  name="msapplication-TileImage"
  content="https://www.thegreenwebfoundation.org/wp-content/uploads/cropped-GWF-site-icon-270x270.png"/>