{% if repo %}
    {% set pageTitle = repo + ": " + title %}
{% endif %}

{% metagen
  title=pageTitle or title or "Developer Docs @ The Green Web Foundation",
  desc=description or "This site is a collection of documentation for the open source libraries maintained by The Green Web Foundation.",
  url=page.url or "https://developers.thegreenwebfoundation.org",
  img="https://www.thegreenwebfoundation.org/wp-content/uploads/Wind-turbines-on-hills.jpg",
  img_alt="	We need a fossil free internet by 2030. The internet is the world's biggest coal powered machine, and this is bug in the system we can fix.",
  twitter_card_type="summary_large_image",
  twitter_handle="greenwebfound",
  name="The Green Web Foundation",
  generator="eleventy"
%}