{% if libraryName %}
  {% set pageTitle = libraryName + ": " + title %}
{% else %}
  {% set pageTitle = name + ": " + title %}
{% endif %}
{% if page.url %}
  {% set canonicalURL = "https://developers.thegreenwebfoundation.org" + page.url %}
{% endif %}
{% metagen
  title=pageTitle or title or "Developer Docs @ The Green Web Foundation",
  desc=description or "This site is a collection of documentation for the open source libraries maintained by The Green Web Foundation.",
  url=canonicalURL or "https://developers.thegreenwebfoundation.org",
  img="https://www.thegreenwebfoundation.org/wp-content/uploads/Wind-turbines-on-hills.jpg",
  img_alt="	We need a fossil free internet by 2030. The internet is the world's biggest coal powered machine, and this is bug in the system we can fix.",
  twitter_card_type="summary_large_image",
  twitter_handle="greenwebfound",
  name="The Green Web Foundation",
  generator="eleventy"
%}
<link
  rel="icon"
  href="https://www.thegreenwebfoundation.org/wp-content/uploads/green-web-smiley-150x150.png"
  sizes="32x32">
  <link
    rel="icon"
    href="https://www.thegreenwebfoundation.org/wp-content/uploads/green-web-smiley-300x300.png"
    sizes="192x192">
    <link
      rel="apple-touch-icon"
      href="https://www.thegreenwebfoundation.org/wp-content/uploads/green-web-smiley-300x300.png">
      <meta
        name="msapplication-TileImage"
        content="https://www.thegreenwebfoundation.org/wp-content/uploads/green-web-smiley-300x300.png">