<aside class="alert alert-info">
<div>
<div>
<h3>Upcoming change to default model</h3>
    <p>In the next release of CO2.js (v0.18 - February 2026) we will be changing the default carbon estimation model to Sustainable Web Design Model version 4. If you are using CO2.js to perform carbon estimation, and are not explicitly declaring the model and version to use then you will be impacted by this change.</p>

    <p>You can install a PREVIEW release to test your code to see how this change will effect you. To do so, use the <code>npm install @tgwf/co2@next</code> command.</p>

    <p>We have detailed the impacts of this change for users of CO2.js in this GitHub issue - <a href="https://github.com/thegreenwebfoundation/co2.js/issues/209#issuecomment-3624614392">Impact of changing from v3 to v4</a></p>
</div>
</div>
</aside>
